body{
  background-color: #fff;
}

#about{
  background-color: #ff4c68;
  padding: 3% 5% 0 5%;
}
.navbar{
  background-color: #ff4c68;
}
.navbar-brand{
  color: #fff;
  /* text-align: center; */
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding-left: 30px;
  padding-left: 30px;

}
.nav-link{
  color: #fff;
  /* font-weight: 500; */
  font-size: 130%;
  font-family: "Montserrat-Light";
}
.navbar-toggler{
  border: 3px solid #fff;
}

.row{
  background-color: #ff4c68;
}


.title{
   margin-top: 50px;
   margin-bottom: 30px;
   text-align: center;
   color: #fff;
   font-weight: 500;
   font-size: 200%;
   font-family: 'Audiowide', cursive;
}

.content{
  text-align: center;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  font-weight: 500;
  font-size: 120%;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Roboto', sans-serif;
}
.profile{
  /* background-size: contain; */
  width: 80%;
  height: auto;
  /* padding-top: 11% */
}

.resume{
  /* position: absolute; */
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #fff;
}
.container{
  text-align: center;
}

@media (max-width: 800px) {
  .profile{
    padding-top: 2%;
    width: 60%;
  }

}
